<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6 mx-1">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= form.label :name %></span>
      </div>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="col-lg-6 mx-1">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= form.label :due_at %></span>
      </div>
      <%= form.datetime_select :due_at, class: "form-control datetimepicker" %>
    </div>
  </div>

  <div class="row py-lg-5">
    <div class="col-3 mx-0">
      <%= form.submit "Submit", class: "btn btn-primary" %>
      <% unless locals[:updating].present? %>
        <%= link_to items_path, class: 'text-decordation-none mx-3', style: "vertical-align: middle;" do %>
          <i class="bi bi-list-check text-dark" style="font-size: 1.8rem;" title="Back"></i>
        <% end %>  
      <% else %>
        <%= link_to @item, class: 'text-decoration-none mx-3', style: "vertical-align: middle;" do %>
          <i class="bi bi-binoculars-fill text-dark" style="font-size: 1.8rem;" title="Show"></i>
        <% end %>
        <%= link_to items_path, class: 'text-decordation-none', style: "vertical-align: middle;" do %>
          <i class="bi bi-list-check text-dark" style="font-size: 1.8rem;" title="Back"></i>
        <% end %>    
      <% end %>          
    </div>
  </div>
<% end %>