<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="col-lg-4">
      <%= form_with url: by_date_path, method: :get do |form| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">
              <%= form.submit "View Date", class: 'remove-submit-btn-style text-light' %>
            </button>
          </div>
            <%= form.date_field :find_by_date, class: "form-control datepicker" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section class="py-5 text-left container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-1">
        <h1 class="fw-light">Welcome to TODOS</h1>
        <p class="lead text-muted">Your current items:</p>
        <%# <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> %>
      </div>
    </div>
    <div class="row py-lg-1">
      <div class="row py-lg-1">
        <div class="col-7 mx-0">
          Name
        </div>
        <div class="col-2 mx-0">
          Due at
        </div>
        <div class="col-1 mx-0">
          Actions
        </div>
      </div>
    <% @items.each do |item| %>
      <div class="row py-lg-1">
        <div class="col-7 mx-0">
          <%= item.name %>
        </div>
        <div class="col-2 mx-0">
          <%= item.due_at.strftime("%m/%d/%Y") %> at <%= item.due_at.to_s(:time) %>
        </div>
        <div class="col-3 mx-0">
          <%= link_to item, class: 'text-decoration-none' do %>
            <i class="bi bi-binoculars-fill text-dark ml-3"></i>
          <% end %>
          &nbsp;
          <%= link_to edit_item_path(item), class: 'text-decoration-none' do %>
            <i class="bi bi-pencil-fill text-dark ml-3"></i>
          <% end %>
          &nbsp;
          <%= link_to item, class: 'text-decoration-none', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="bi bi-trash-fill text-danger"></i>
          <% end %>

        </div>
      </div>
    <% end %>
  </section>
</main>
