<main>
  <section class="py-5 text-left container">
    <div class="row py-lg-5">
      <div class="col-lg-10 col-md-8 mx-1">
        <h1 class="fw-light">All Items</h1>
      </div>
    </div>
    <div class="row py-lg-1">
      <div class="row py-lg-1">
        <div class="col-7 mx-0">
          Name
        </div>
        <div class="col-2 mx-0">
          Due at
        </div>
        <div class="col-1 mx-0">
          Actions
        </div>
      </div>
    <% @items.each do |item| %>
      <div class="row py-lg-1">
        <div class="col-7 mx-0">
          <%= item.name %>
        </div>
        <div class="col-2 mx-0">
          <%= item.due_at.strftime("%m/%d/%Y") %> at <%= item.due_at.to_s(:time) %>
        </div>
        <div class="col-3 mx-0">
          <%= link_to item, class: 'text-decoration-none', style: "vertical-align: middle;" do %>
            <i class="bi bi-binoculars-fill text-dark" title="Show"></i>
          <% end %>
          <%= link_to edit_item_path(item), class: 'text-decoration-none mx-3', style: "vertical-align: middle;" do %>
            <i class="bi bi-pencil-fill text-dark" title="Edit"></i>
          <% end %>
          <%= 
            link_to item, 
            class: 'text-decoration-none', 
            style: "vertical-align: middle;",
            method: :delete, data: { confirm: 'Are you sure?' } do 
          %>
            <i class="bi bi-trash-fill text-danger" title="All Items"></i>
          <% end %>

        </div>
      </div>
    <% end %>
  </section>
</main>
