<html>
  <head>
    <title>Todos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>

  <body>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <div class="col-lg-6">
          <div class="row">
            <%= form_with url: by_date_path, method: :get do |form| %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <%= link_to 'Create New Item', new_item_path, class: "btn btn-primary" %>
                  &nbsp;<span class="text-light">or</span>&nbsp;
                  <button class="btn btn-outline-secondary" type="button">
                    <%= form.submit "View Items By Date", class: 'remove-submit-btn-style text-light' %>
                  </button>
                </div>
                  <%= form.date_field :find_by_date, min: Date.today, class: "form-control datetimepicker" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h3 class="float-right">
          <%= link_to items_path, class: 'text-decoration-none text-light' do %>
            <i class="bi bi-house-door-fill"></i>
          <% end %>
        </h3>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>